<!doctype html>

<!-- PLEASE DO NOT LOOK AT THIS IT IS EMBARASSING -->


<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/favicon.ico">
  <title>{% block page_title %} Misfit Tidbits {% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  {% block css %}{% endblock %}

</head>
<body>

<!--<nav class="nav-menu">
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
    </ul>
</nav> -->

<div id="topContainer">
      <div id="topLeft">
        <ul>
          <li><a href="/archive">Archive</a></li>
          <li><a href="/comics">Comics</a></li>
          <li><a href="http://blag.xkcd.com">Blag</a></li>
          <li><a href="http://store.xkcd.com/">Store</a></li>
          <li><a rel="author" href="/about">About</a></li>
        </ul> 
      </div>
      <div id="topRight">
        <div id="masthead">
          <span><a href="/"><img src="/static/img/gooooooat.jpg" alt="Chaiti La La La" height="100" width="100"/></a></span>
          <span id="slogan">A pretty stupid blog of some curious <br/>  observations among other things</span>
        </div>
        <div id="news">
          &nbsp;
        </div>
      </div>
      <div id="bgLeft" class="bg box"></div>
      <div id="bgRight" class="bg box"></div>
    </div>

<div class='box' id='middleContainer'>  'Eliminate all other factors, and the one which remains must be the truth.' - Sherlock Holmes </div>

<div id='middleContainer' class="content box {% block content_class %}container{% endblock content_class %}" role="main" >
  <!--&nbsp;-->
  {% block content %}{% endblock %}
</div>
&nbsp;
<div id="bottom" class="box">
  <p>Warning: this blog occasionally contains strong language (which may be unsuitable for children), unusual humour (which may be unsuitable for adults), and poisonous grass (which may be unsuitable for goats).</p>
  <p title='Because I really like his comics'>|Theme neatly ripped from Randall Munroe's <a href='http://xkcd.com'>xckd.com </a>|</p>
</div>
  

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
