{% extends "base.html" %}
{% block content %}

<h2>Interesting Comics</h2>

<ul class="page-list">
  <li><a href="http://xkcd.com">XKCD</a></li>
  <li><a href="http://threewordphrase.com/">Three Word Phrase</a></li>
  <li><a href="http://oglaf.com/">Oglaf</a> (nsfw)</li>
  <li><a href="http://www.smbc-comics.com/">SMBC</a></li>
  <li><a href="http://www.qwantz.com">Dinosaur Comics</a></li>
  <li><a href="http://www.asofterworld.com">A Softer World</a></li>
  <li><a href="http://buttersafe.com/">Buttersafe</a></li>
  <li><a href="http://pbfcomics.com/">Perry Bible Fellowship</a></li>
  <li><a href="http://questionablecontent.net/">Questionable Content</a></li>
  <li><a href="http://www.buttercupfestival.com/">Buttercup Festival</a></li>
  <li><a href="http://www.commitstrip.com/">Commit strips!</a></li>
  <li><a href="http://brownsharpie.courtneygibbons.org/">Brown Sharpie</a></li>
  <li><a href="http://spikedmath.com/">Spiked Math</a></li>
  <li><a href="http://proof-of-false.the-user.org/">Proof of False</a></li>
  <li><a href="http://www.twistedpencil.com/">:: twisted pencil ::</a></li>
  <li><a href="http://www.mathtics.doze.at/index.html">mathTICs</a></li>
  <li><a href="http://xwhy.comicgenesis.com/">(x, why?)</a></li>
  <li><a href="http://notsohumblepi.com/">Not so humble Pi</a></li>
  <li><a href="http://abstrusegoose.com/">Abstruse Goose</a></li>
  <li><a href="http://thenerdvana.com/">The Nerdvana</a></li>
  <li><a href="http://ageekstory.com/sketch">A Geek Story</a></li>
</ul>
{% endblock %}